[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/skyscrapers/puppetlabs-apt
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/skyscrapers/puppetlabs-stdlib
[submodule "modules/connection_validator"]
	path = modules/connection_validator
	url = https://github.com/skyscrapers/puppet-connection-validator.git
